:root {
    --header-height: 80px;
    --border-radius-value: 92px;
    --search-height-btn: 46px;
    --search-y-gap: 9px;
    --search-btn-width: 52px;
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    background: var(--gradient-color);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    z-index: 10;
}

.header-content {
    position: relative;
    height: 100%;
    width: var(--default-width-whole-page);
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    .header__content-logo {
        min-width: 350px;
        height: 80px;
        display: flex;
        align-items: center;

        img {
            width: 90px;
            height: 80px;
            object-fit: cover;
        }

        .header__content-title {
            justify-content: flex-start;
            text-align: center;

            p {
                font-size: 1.4rem;
                font-weight: 400;
                color: var(--white-color);
            }

            h3 {
                font-size: 1.8rem;
                color: var(--red-color);
            }
        }
    }

    .header-search {
        position: relative;
        display: flex;
        align-items: center;
        width: 361px;
        height: var(--search-height-btn);
        padding-left: 16px;
        background-color: var(--body-color);
        border-radius: var(--border-radius-value);
        border: 1.5px solid transparent;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: calc(var(--search-height-btn) - var(--search-y-gap) * 2);
            top: var(--search-y-gap);
            right: var(--search-btn-width);
            background-color: rgba(22, 24, 35, 0.12);
        }

        &:focus-within {
            border-color: var(--secondary-color);
        }

        input {
            flex: 1;
            height: 100%;
            color: var(--text-color);
            font-size: 1.6rem;
            background-color: transparent;
            padding-right: 40px;
            border: none;
            outline: none;
            caret-color: var(--primary-color);

            &:not(:placeholder-shown) ~ .header-search-btn {
                color: var(--black-color);
            }
        }

        .header-search-btn {
            width: var(--search-btn-width);
            height: 100%;
            color: rgba(22, 24, 35, 0.34);
            font-size: 2rem;
            border: none;
            outline: none;
            border-top-right-radius: var(--border-radius-value);
            border-bottom-right-radius: var(--border-radius-value);
            cursor: pointer;

            &:hover {
                background-color: rgba(22, 24, 35, 0.03);
            }

            &:active {
                background-color: rgba(22, 24, 35, 0.06);
            }
        }

        .header-search-clear {
            position: absolute;
            top: 50%;
            right: calc(var(--search-btn-width) + 16px);
            transform: translateY(-50%);
            font-size: 1.6rem;
            color: rgba(22, 24, 35, 0.34);
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}
