:root {
    --header-height: 80px;
    --border-radius-value: 92px;
    --search-height-btn: 46px;
    --search-y-gap: 9px;
    --search-btn-width: 52px;
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    background: var(--gradient-color);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    z-index: 10;
}

.header-content {
    position: relative;
    height: 100%;
    width: var(--default-width-whole-page);
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
    }

    .header__content-logo {
        min-width: 350px;
        height: 80px;
        display: flex;
        align-items: center;

        img {
            width: 90px;
            height: 80px;
            object-fit: cover;
        }

        .header__content-title {
            justify-content: flex-start;
            text-align: center;

            p {
                font-size: 1.4rem;
                font-weight: 400;
                color: var(--white-color);
            }

            h3 {
                font-size: 1.8rem;
                text-transform: uppercase;
                font-weight: 700;
                color: var(--red-color);
            }
        }
    }

    .search-result {
        width: 361px;

        .search-result-title {
            font-size: 1.4rem;
            font-weight: 500;
            padding: 4px 0;
            color: var(--text-color);
            margin-left: 8px;
            box-shadow: 0 2px 2px -2px gray;
        }
    }

    .header-search {
        position: relative;
        display: flex;
        align-items: center;
        width: 361px;
        height: var(--search-height-btn);
        padding-left: 16px;
        background-color: var(--body-color);
        border-radius: var(--border-radius-value);
        border: 1.5px solid transparent;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: calc(var(--search-height-btn) - var(--search-y-gap) * 2);
            top: var(--search-y-gap);
            right: var(--search-btn-width);
            background-color: rgba(22, 24, 35, 0.12);
        }

        &:focus-within {
            border-color: var(--secondary-color);
        }

        input {
            flex: 1;
            height: 100%;
            color: var(--text-color);
            font-size: 1.6rem;
            background-color: transparent;
            padding-right: 40px;
            border: none;
            outline: none;
            caret-color: var(--primary-color);

            &:not(:placeholder-shown) ~ .header-search-btn {
                color: var(--black-color);
            }
        }

        .header-search-btn {
            width: var(--search-btn-width);
            height: 100%;
            color: rgba(22, 24, 35, 0.34);
            font-size: 2rem;
            border: none;
            outline: none;
            border-top-right-radius: var(--border-radius-value);
            border-bottom-right-radius: var(--border-radius-value);
            cursor: pointer;

            &:hover {
                background-color: rgba(22, 24, 35, 0.03);
            }

            &:active {
                background-color: rgba(22, 24, 35, 0.06);
            }
        }

        .header-search-clear {
            position: absolute;
            top: 50%;
            right: calc(var(--search-btn-width) + 16px);
            transform: translateY(-50%);
            font-size: 1.6rem;
            color: rgba(22, 24, 35, 0.34);
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    .header-actions {
        display: flex;
        align-items: center;

        /* Header action CSS when has user login */
        .action-btn {
            color: var(--white-color);
            font-size: 2.4rem;
            padding: 4px 12px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        .action-btn:nth-child(3) {
            position: relative;
        }

        .action-btn:nth-child(3)::before {
            content: '0';
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 4px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: var(--red-color);
        }

        .image-box {
            width: 42px;
            height: 42px;
            margin-left: 20px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        /* Header action CSS while no anyone login */
        .header-actions-hotline {
            display: flex;
            align-items: center;
            margin-right: 1rem;
            padding: 1rem;

            &:hover .icon {
                animation: phoneRing 0.3s ease-in-out infinite;
            }

            .icon {
                font-size: 2.5rem;
                color: var(--white-color);
                margin-right: 1rem;
            }

            a {
                font-size: 1.6rem;
                font-weight: 600;
                text-decoration: none;
                color: var(--white-color);
                letter-spacing: 0.5px;

                span {
                    font-size: 1.8rem;
                    margin-right: 5px;
                    color: var(--red-color);
                }
            }
        }

        .header-actions-menu {
            font-size: 1.8rem;
            color: var(--white-color);
            margin-left: 12px;
            padding: 6px;
            line-height: unset;
            cursor: pointer;
        }
    }
}

@keyframes phoneRing {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(20deg);
    }
}
